<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoardList</title>
</head>
<body>
    <div>
        <table>
            <thead>
            <tr>
                <th>NO</th>
                <th>TITLE</th>
                <th>WRITER</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${list}">
                <td th:text="${board.id}"></td>
                <td>
                    <a th:href="@{'/board/detail/'+${board.id}}" th:text="${board.title}"></a>
                </td>
                <td th:text="${board.writer}"></td>
            </tr>
            </tbody>
        </table>
        <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/board/list(page=${page-1})}" th:text ="${page}"></a>
            <strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>
        </th:block>
    </div>
</body>
</html>