<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoardUpdate</title>
</head>
<body>
  <div>
    <form th:action="@{/board/modify/{id}(id=${board.id})}" method="post">
      <div>
        <label th:for="title">TITLE</label>
        <input name="title" type="text" th:value="${board.title}">
      </div>
      <div>
        <label th:for="writer">WRITER</label>
        <input name="writer" type="text" th:value="${board.writer}">
      </div>
      <div>
        <label th:for="content">CONTENT</label>
        <textarea name="content" rows="5" th:text="${board.content}"></textarea>
      </div>
      <div>
        <button type="submit">UPDATE</button>
      </div>
    </form>
  </div>
</body>
</html>