<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>
        <a href="/member/new">member register</a>
        <a href="/member/list">member list</a>
    </p>
    <p>
        <a href="/board/write">board write</a>
        <a href="/board/list">board list</a>
    </p>
    <ul>
        <li>
            <a href="/INTJ">
                <span>INTJ</span>
            </a>
        </li>
        <li>
            <a href="/ISTJ">
                <span>ISTJ</span>
            </a>
        </li>
        <li>
            <a href="/INFJ">
                <span>INFJ</span>
            </a>
        </li>
        <li>
            <a href="/ISFJ">
                <span>ISFJ</span>
            </a>
        </li>
        <li>
            <a href="/INTP">
                <span>INTP</span>
            </a>
        </li>
        <li>
            <a href="/ISTP">
                <span>ISTP</span>
            </a>
        </li>
        <li>
            <a href="/INFP">
                <span>INFP</span>
            </a>
        </li>
        <li>
            <a href="/ISFP">
                <span>ISFP</span>
            </a>
        </li>
        <li>
            <a href="/ENTJ">
                <span>ENTJ</span>
            </a>
        </li>
        <li>
            <a href="/ESTJ">
                <span>ESTJ</span>
            </a>
        </li>
        <li>
            <a href="/ENFJ">
                <span>ENFJ</span>
            </a>
        </li>
        <li>
            <a href="/ESFJ">
                <span>ESFJ</span>
            </a>
        </li>
        <li>
            <a href="/ENTP">
                <span>ENTP</span>
            </a>
        </li>
        <li>
            <a href="/ESTP">
                <span>ESTP</span>
            </a>
        </li>
        <li>
            <a href="/ENFP">
                <span>ENFP</span>
            </a>
        </li>
        <li>
            <a href="/ESFP">
                <span>ESFP</span>
            </a>
        </li>
        <li>
            <a href="/ALL">
                <span>ALL</span>
            </a>
        </li>
    </ul>
</body>
</html>